# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
# Replace 'your_dataset.csv' with the actual path to your dataset
employee_salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Display the first few rows of the dataset
print(employee_salaries.head())

                     Name                 Job Titles        Department  \
0  ADRIANO,  RACQUEL ANNE                  PARAMEDIC              FIRE
1       AFFANEH,  MAHIR A             POLICE OFFICER            POLICE
2       AFOENYI,  PHYLLIS  TITLE V PROGRAM TRAINEE I  FAMILY & SUPPORT
3         AGAR,  BULENT B        DEPUTY COMMISSIONER       WATER MGMNT
4         AGEE,  LAWRENCE             POLICE OFFICER            POLICE

  Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                 F           Salary            NaN        72510.0
1                 F           Salary            NaN        93354.0
2                 P           Hourly           20.0            NaN
3                 F           Salary            NaN       132972.0
4                 F           Salary            NaN        90024.0

   Hourly Rate
0          NaN
1          NaN
2         13.0
3          NaN
4          NaN

In [4]:
 # Get the dimensions of the dataset (rows, columns)
print(employee_salaries.shape)

(33702, 8)

In [5]:
 # Summary statistics of numerical columns
print(employee_salaries.describe())

       Typical Hours  Annual Salary  Hourly Rate
count    8174.000000   25528.000000  8174.000000
mean       34.364448   89061.795000    34.586450
std         9.420849   21132.041408    13.285543
min        10.000000   14160.000000     2.650000
25%        20.000000   76266.000000    22.360000
50%        40.000000   90024.000000    37.450000
75%        40.000000   98292.000000    43.720000
max        40.000000  275004.000000   128.000000

In [6]:
# Calculate the average salary
average_salary = employee_salaries['Annual Salary'].mean()
print(f'Average Salary: ${average_salary:.2f}')

Average Salary: $89061.79

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:

# Check for missing data in each column
missing_data = employee_salaries.isnull().sum()

# Display the missing data counts
print(missing_data)

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
# Your code here:

# Count the number of hourly and salaried employees
employee_types_count = employee_salaries['Salary or Hourly'].value_counts()

# Display the count
print(employee_types_count)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [29]:
# Your code here:

department_counts =data['Department'].value_counts()
department_counts

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [28]:
# Your code here:
from scipy import stats
import pandas as pd

# Load the dataset (replace 'your_dataset.csv' with the actual file path)
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

# Extract hourly wages for hourly workers
hourly_wages = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Set the hypothesized mean hourly wage
hypothesized_mean = 30  # $30/hr

# Perform a one-sample t-test
t_statistic, p_value = stats.ttest_1samp(hourly_wages, hypothesized_mean)

# Define the significance level (confidence level)
alpha = 0.05  # 95% confidence level

# Check if the p-value is less than the significance level
if p_value < alpha:
    print(f"The hourly wage is significantly different from ${hypothesized_mean}/hr (p-value = {p_value})")
else:
    print(f"The hourly wage is not significantly different from ${hypothesized_mean}/hr (p-value = {p_value})")

The hourly wage is significantly different from $30/hr (p-value = 3.825475847673794e-202)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [35]:
#One-tailed confidence interval
#H0: The annual salary of police is >= 86000$
#H1: The annual salary of police is < 86000$

police = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police.head()
# #police['Annual Salary'].mean()
# stat2, pval2 = ttest_1samp(police['Annual Salary'], 86000)
# print('stat is  ', stat2)
# print('pvalue for the one-tailed test is ', pval2/2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

In [34]:
hourly = data[data['Salary or Hourly'] == 'Hourly']
hourly.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98

Using the `crosstab` function, find the department that has the most hourly workers.

In [36]:
# Your code here:
data_crosstab = pd.crosstab(hourly['Department'], hourly['Salary or Hourly'], margins = False)
data_crosstab

Salary or Hourly     Hourly
Department
ANIMAL CONTRL            12
AVIATION               1214
BUDGET & MGMT             2
BUSINESS AFFAIRS          7
CITY COUNCIL             74
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
HEALTH                    2
HOUSING & ECON DEV        3
LAW                      48
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
WATER MGMNT            1558

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:

# Find the department with the most hourly workers
department_with_most_hourly = data[data['Salary or Hourly'] == 'Hourly']['Department'].value_counts().idxmax()

# Extract hourly wage data for the department with the most hourly workers
hourly_wages = data[(data['Department'] == department_with_most_hourly) & (data['Salary or Hourly'] == 'Hourly')]['Hourly Rate']

# Define the null and alternative hypotheses
null_hypothesis = f"The mean hourly wage for {department_with_most_hourly} employees is greater than or equal to $35/hour."
alternative_hypothesis = f"The mean hourly wage for {department_with_most_hourly} employees is less than $35/hour."

# Define the significance level
alpha = 0.05

# Perform the one-sided t-test
t_stat, p_value = stats.ttest_1samp(hourly_wages, 35)
p_value /= 2  # Convert to one-sided p-value

# Check if the p-value is less than alpha
if p_value < alpha:
    print(f"Reject the null hypothesis. There is enough evidence to support the claim that {department_with_most_hourly} employees' hourly wage is less than $35/hour.")
else:
    print(f"Fail to reject the null hypothesis. There is not enough evidence to support the claim that {department_with_most_hourly} employees' hourly wage is less than $35/hour.")

Reject the null hypothesis. There is enough evidence to support the claim that STREETS & SAN employees' hourly wage is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [44]:

# Extract hourly wage data for all hourly workers
hourly_wages = data[data['Salary or Hourly'] == 'Hourly']['Hourly Rate']

# Calculate the mean and standard error of the hourly wages
mean_hourly_wage = hourly_wages.mean()
std_error = stats.sem(hourly_wages)

# Define the confidence level and degrees of freedom
confidence_level = 0.95
degrees_of_freedom = len(hourly_wages) - 1

# Calculate the confidence interval
conf_interval = stats.t.interval(confidence_level, degrees_of_freedom, loc=mean_hourly_wage, scale=std_error)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [49]:
#Display the confidence interval
print(f"95% Confidence Interval for Mean Hourly Wage: {conf_interval}")

95% Confidence Interval for Mean Hourly Wage: (34.29839539204361, 34.874504045197305)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: